In [1]:
import sqlite3

coneccion = sqlite3.connect('BaseDatos')

cursor = coneccion.cursor()

In [3]:
cursor.execute('''CREATE TABLE libros(
                  id_libro INTEGER PRIMARY KEY AUTOINCREMENT,
                  titulo VARCHAR(30),
                  autor VARCHAR(30),
                  isbn VARCHAR(30),
                  disponibilidad VARCHAR(30)
)
''')

In [4]:
cursor.execute('''CREATE TABLE autores(
                  id_autor INTEGER PRIMARY KEY AUTOINCREMENT,
                  nombre VARCHAR(30),
                  nacionalidad VARCHAR(30)

)
                    

''')

In [5]:
cursor.execute('''CREATE TABLE usuarios(
                  id_usuarios INTEGER PRIMARY KEY,
                  nombre VARCHAR(30),
                  direccion VARCHAR(30),
                  telefono VARCHAR(30)

)
                    

''')

In [7]:
cursor.execute('''CREATE TABLE prestamos(
                  id_prestamos INTEGER PRIMARY KEY,
                  id_libros INTEGER,
                  id_usuarios INTEGER,
                  fecha_prestamo VARCHAR(30),
                  fecha_devolucion VARCHAR(30),
                  FOREIGN KEY (id_libros) REFERENCES libro (id_libros),
                  FOREIGN KEY (id_usuarios) REFERENCES usuarios (id_usuarios)

)
                

''')

In [10]:
cursor.execute("INSERT INTO libros VALUES (1,'libro1', 'autor1', '1', 'disponible')")

In [11]:
cursor.execute("INSERT INTO autores VALUES (1, 'autor1', 'nacionalidad1')")

In [12]:
cursor.execute("INSERT INTO usuarios VALUES (1, 'usuario1', 'direccion1', '11111')")

In [14]:
cursor.execute("INSERT INTO prestamos VALUES (1,1, 'usuario1', '2/5/23', 2/6/23 )")